body {
    height: 100vh;
    background: linear-gradient(to right, #023047, #FFFFFF);
    overflow: hidden;
}

#root {
    height: 100%;
}

.swiper {
    height: 268px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px 0 28px;
    height: 144px;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 26px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-border-radius: 8px;
    --swiper-pagination-bottom: 24px;
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-bullet-inactive-color: #8ECAE6;
    --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-color: #023047;
}